.App {
  font-family: sans-serif;
  text-align: center;
}
.outerBtn {
  border-radius: 50px;
  padding: 0.3rem 0.7rem;
  display: flex;
}
.innerBtn,
.innerDiv {
  border-radius: 50px;
  height: 0.8rem;
  width: 0.8rem;
  /* background-color: blue; */
  border: none;
}
.btnColourBlue {
  background-color: blue;
}
.btnColourRed {
  background-color: red;
}
.btnStart {
  justify-content: start;
}
.btnEnd {
  justify-content: end;
}
.outerDiv {
  border-radius: 50px;
  padding: 0.3rem;
  border: 1px solid grey;
  width: 2rem;
  background-color: lightgrey;
  display: flex;
}
